DISCORD_BOT_TOKEN=replace_with_discord_bot_token
DISCORD_APPLICATION_ID=replace_with_discord_application_id
DISCORD_PUBLIC_KEY=replace_with_discord_public_key
DISCORD_GUILD_ID=replace_with_discord_guild_id
DISCORD_XP_CHANNEL_ID=replace_with_discord_xp_channel_id
