.DS_Store
node_modules/
.env
.env.local
.env.*.local
assets/img/test.txt
assets/img/3rd-eye-smiley.png
assets/img/hated-photo.webp
assets/img/otis.png
assets/img/secret-photo.webp
assets/img/smiley.png
assets/img/state-of-mind.jpg

assets/img/xp-wallpaper.jpg
